.App{
  justify-content: flex-start;
}
.mainWrapper{
  border:1px solid #5e8161;
  min-height: 500px !important; 
  padding:0px !important;
  display: flex;
  align-items: stretch;
  margin:72px auto;
}
.leftSide{
  background: #5e8161;
}
.mintGreen{
  background: #b7d9b9;
  text-align: center;
  border-right: 2px solid #d1a248;
  border-left:2px solid #d1a248;
  padding: 64px 0px !important;
  flex-direction: column;
}
.mintGreen a{
  margin-bottom:27px;
  display: inline-block;
}
.mintGreen a:last-child{
  margin-bottom: 0px
}
.mintGreen img{
  cursor:pointer;
  width:45px;
  position: abolute;
}
.leftSide a:link, .leftSide a:visited, .leftSide a:hover{
  color:white;
  cursor: pointer;
}

.mainContent{
  padding:24px 42px 24px 36px !important;
  overflow: hidden;
  float: none;
  position: relative;
  display: block;
}
.mainContent .tagLine{
  position: absolute;
  font-size:320px;
  font-weight: bold;
  color:#00900d;
  opacity: 0.07;
  overflow:hidden;
  width: max-content;
  bottom:-120px;
  left:-50px;
  letter-spacing: -15px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: -1;
}
.mainContent h4{
  margin-top:0px;
}
.mainContent p{
  margin: 0.5em 0;
  font-size: 16px;
}
.mainContent h5{
  margin-bottom:0px;
}
.mernQuad{
  position: absolute;
  right: 24px;
  top:calc(50% - 110px);
  z-index: 2;
}
.element{
  float: right; 
  shape-outside:  polygon(130px 105px, 265px 245px, 130px 350px, 10px 230px); 
  width: 240px;
  height: 100%;
}
@media only screen and (max-width: 600px){
  .mainWrapper{
    display: block;
    background: yellow;
  }
      .mainWrapper > div{
        float:none !important;
      }
  
}

@media only screen and (min-width: 601px){
  .mainWrapper{
    width:500px;
  }
  .mainContent{
    width:calc(100% - 210px);
  }
  .leftSide{
    width:160px;
  }
  .mintGreen{
    width:49px;
  }
  .mernQuad{
    display: none;
  }
}

@media only screen and (min-width: 768px){
  .mainWrapper{
    width:730px;
  }
  .leftSide{
    width:225px;
  }
  .mainContent{
    width:calc(100% - 275px);
  } 
}

@media only screen and (min-width: 993px){
  .mainWrapper{
    width:950px;
  }
  .mernQuad{
    display: block;
  }
}

@media only screen and (max-width: 992px){
  .element{
    display: none;
  }
}

