.App{
  justify-content: flex-start;
}
.mainWrapper{
  border:1px solid #5e8161;
  min-height: 400px !important; 
  padding:0px !important;
  display: flex;
  align-items: stretch;
  margin:72px auto;
}
.leftSide{
  background: #5e8161;
}
.mintGreen{
  background: #b7d9b9;
  text-align: center;
  border-right: 2px solid #d1a248;
  border-left:2px solid #d1a248;
  padding: 24px 0px !important;
  flex-direction: column;
}
.mintGreen a{
  margin-bottom:15px;
  display: inline-block;
}
.mintGreen a:last-child{
  margin-bottom: 0px
}
.mintGreen img{
  cursor:pointer;
  width:45px;
}
.leftSide a:link, .leftSide a:visited, .leftSide a:hover{
  color:white;
  cursor: pointer;
}



@media only screen and (max-width: 600px){
  .mainWrapper{
    display: block;
    background: yellow;
  }
      .mainWrapper > div{
        float:none !important;
      }
}

@media only screen and (min-width: 601px){
  .mainWrapper{
    width:500px;
  }
  .mainContent{
    width:calc(100% - 210px);
  }
  .leftSide{
    width:160px;
  }
  .mintGreen{
    width:49px;
  }
}

@media only screen and (min-width: 768px){
  .mainWrapper{
    width:700px;
  }
  .leftSide{
    width:225px;
  }
  .mainContent{
    width:calc(100% - 275px);
  }
}

@media only screen and (min-width: 993px){
  .mainWrapper{
    width:850px;
  }
}

